.form
{
    background-color: #fff;
    padding: 40px 20px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px 0px #666; */
}
.input-group
{
    position: relative;
}
.input
{
    padding: 10px;
    width:24vw;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    border: 2px solid #000000;
}
.scroll-container {
    
    overflow-x:hidden;
    max-height: 80vh; 
    scrollbar-width: none; 
    overflow-x: auto; 
  }

  .scroll-container::-webkit-scrollbar {
    width: 8px; 
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
 
  .scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
.downbg{
    background-color: white;

}
@media only screen and (max-width:360px){
    .downbg{
        background-color: white;
        width: 100%;
        right: 14vh;   
    }
}
@media only screen and (max-width:360px){
    .searchdown{
        background-color: white;
        width: 90%;
        margin-left: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
}
.placeholder
{
    position: absolute;
    top: 14px;
    left: 6%;
    font-size: 14px;
    padding: 0px 5px;
    color: #666;
    transition: 0.3s;
    pointer-events: none;
}
.input:focus + .placeholder
{
    top: -10px;
    color: #000000;
    font-size: 10px;
    background-color: #fff;
}
.boxhover{  
    /* width:24vw; */
    /* background-color: white;
    color: white; */
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.boxhover:hover {
    background-color: #fcf9f0;
  }

  @media (max-width: 767px) {
    .mobile-hidden {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .web-hidden {
      display: none;
    }
  }
  