.form {
  background-color: #fff;
  padding: 40px 20px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px 0px #666; */
}
.input-group {
  position: relative;
}
.input {
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  border: 2px solid #000000;
}

@media (min-width: 1024px) {
  .input {
    width: 24vw;
  }
}
.scroll-container {
  overflow-x: hidden;
  max-height: 68vh;
  scrollbar-width: none;
  overflow-x: auto;
}
.dosa-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.slide-panel-header {
  position: sticky;
  width: 70vw;
  height: 630px;
  left: 0px;
  top: 0px;
  background: #fef3e7;
  border-radius: 0px 17px 17px 0px;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.downbg {
  background-color: white;
}
.icon-container {
  display: flex;
  align-items: end;
  justify-content: end;
}
.text-style {
  font-size: 1rem;
  text-align: center;
  padding: 4%;
  margin-left: 4px;
  font-family: Roboto Slab, serif !important;
}
@media (min-width: 600px) {
  .circle {
    display: none;
  }
}
.icon {
  width: 4vw;
  height: 2vh;
  color: gray;
}

.xl-screen {
  height: 30px;
  width: 30px;
}
.xl-screeen {
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 360px) {
  .downbg {
    background-color: white;
    width: 100%;
    right: 14vh;
  }
}

@media only screen and (max-width: 600px) and (min-width: 360px) {
  .searchdown {
    background-color: white;
    width: 94%;
    margin-left: 6vh;
    display: flex;
  }
}
.placeholder {
  position: absolute;
  top: 14px;
  left: 6%;
  font-size: 14px;
  padding: 0px 5px;
  color: #666;
  transition: 0.3s;
  pointer-events: none;
}
.input:focus + .placeholder {
  top: -10px;
  color: #000000;
  font-size: 10px;
  background-color: #fff;
}
.boxhover {
  text-align: center;
  line-height: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* border-radius: 8px; */
}

.boxhover:hover {
  background-color: #fcf9f0;
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .web-hidden {
    display: none;
  }
}

.modelheight{
  height: 98vh;
  width: 46vw;
  background-image: linear-gradient(45deg, #FFC29F, #edd3c4, #FFC29F);
  background-position: center;
  background-repeat: no-repeat;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
}

.closeicon{
  border-radius: 50%;
  background-color: rgb(172, 35, 35); 
  height: 30px;
  width: 30px;
  align-items: end;
margin-left: 24vh;
 justify-content: end;
  
}
