@tailwind base;
@tailwind components;
@tailwind utilities;

.circle
{

  border-radius: 50%;
  background-color: #f00; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-text{
  justify-content: center;
  align-items: center;
  color: white;
  font-size:18px;
}
.circcle{
	border-radius: 50%;
	background-color: green; 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8vw;
	height: 5vh;
	margin-top: 4px;
}

@media (max-width: 360px) {
	.circcle {
	  height: 10px;
	  width: 16px;
	}
  }
body {
  font-family: sans-serif;
}
.scroll-container-food{
	max-height: 90vh; 
	overflow-y: auto;
	scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}
.scroll-container-food::-webkit-scrollbar {
	width: 6px; /* Adjust the width of the scrollbar */
	background-color: transparent; /* Set the background color of the scrollbar track */
  }
  
  .scroll-container-food::-webkit-scrollbar-thumb {
	background-color: transparent; /* Set the color of the scrollbar thumb */
  }
  
  /* For Firefox */
  .scroll-container-food {
	scrollbar-width: thin; /* Set the width of the scrollbar */
	scrollbar-color: transparent transparent; /* Set the color of the scrollbar */
  }
  
  .scroll-container-food::-moz-scrollbar {
	width: 6px; /* Adjust the width of the scrollbar */
	background-color: transparent; /* Set the background color of the scrollbar track */
  }
  
  .scroll-container-food::-moz-scrollbar-thumb {
	background-color: transparent; /* Set the color of the scrollbar thumb */
  }
.label-before {
	line-height: 20px;
	font-size: 12px;
	top: -10px;
	background: #fff;
	padding: 0 6px;
	left: 9px;
}

.container {
	width: 80%;
	margin: 30px 10%;
}

.field {
	position: relative;
	margin-bottom: 15px;
	label::before {
		content: attr(title);
		position: absolute;
		top: 0;
		left: 15px;
		line-height: 40px;
		font-size: 14px;
		color: #777;
		transition: 300ms all;
	}
	input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
		&:focus {
			outline: 0;
			border-color: blue;
		}
		&:valid + label::before {
			@extend .label-before;
			content: attr(data-title);
		}
		&:focus + label::before {
			@extend .label-before;
			color: blue;
		}
	}
}
.grad {
	background-image: linear-gradient(180deg, #f5901e 0%, rgb(250, 229, 208) 68%);
	border-radius: 17px;
	border: none;
	/* height: 190px; */
	/* width: 100%; */
  }
  .iconn {
	width: 10vw;
	height:  6vh;
	left: 54px;
	top: 80px;
  }
  
  .icoon {
	left: 156px;
	top: 80px;
	width: 10vw;
	height: 6vh;
	
  }
  
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
